/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  background-color: rgba(43, 43, 242, 0.959);
  color: white;
  text-align: center;
}
body {
  /* background-color: rgb(240, 240, 109); */
}
